<h2>{{first_name}} {{last_name}}'s Profile</h2>

<div class="post card p-3">
  <div class="card-header">
    <h2>Update Profile Below:</h2>
  </div>
<form class="row g-3 edit-staff-form" data-id="{{id}}">
  <div class="col-md-6">
    <label for="inputFirstName" class="form-label">First Name</label>
    <input type="text" class="form-control" id="inputFirstName" value="{{first_name}}">
  </div>
  <div class="col-md-6">
    <label for="inputLastName" class="form-label">Last Name</label>
    <input type="text" class="form-control" id="inputLastName" value="{{last_name}}">
  </div>
  <div class="col-md-12">
    <label for="inputEmail" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail" value="{{email}}">
  </div>
  {{!-- <div class="col-md-6">
    <label for="inputPassword" class="form-label">Password</label>
    <input type="password" class="form-control" id="inputPassword">
  </div> --}}
  <div class="col-md-6">
    <label for="inputRole" class="form-label">Role</label>
    <input type="text" class="form-control" id="inputRole" value="{{role}}">
  </div>
  <div class="col-md-6">
    <label for="inputSchool" class="form-label">School</label>
    <select id="inputSchool" class="form-select">
      <option selected>Choose School</option>
      {{#each schools as |school|}}
      <option value="{{school.id}}">{{school.name}}</option>
      {{/each}}
    </select>
  </div>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check if you're an administrator
      </label>
    </div>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Update Profile</button>
  </div>
</form>
</div>
<script src="/js/edit-profile.js"></script>