<h3>{{student.first_name}} {{student.last_name}}</h3>

<h4>Equipment Checked Out:</h4>
<ul class="list-group list-group-flush">
{{#each student.equipment as |equip|}}
            <li class="list-group-item d-flex justify-content-between align-items-center"><a
                href="/equipment/{{equip.id}}"
                class="list-group-item list-group-item-action"
              >{{equip.asset_name}}</a><button data-equipmentId="{{equip.id}}" id="checkInBtn" class="btn btn-danger">Check-in</button></li>
{{/each}}
</ul>

{{!-- <a href="/edit-student/{{student.id}}">Edit Student</a><br> --}}
{{> edit-student}}
<button data-id="{{student.id}}" id="deleteBtn" class="btn btn-primary">Delete Student</button>
<script src="/js/delete-student.js"></script>